* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
span, a {
    display: inline-block;
}
.img1 {
    width: 230px;
}
.container {
    display: flex;
}
.img2 {
    width: 400px;
}
.box2 {
    padding: 10px;
}
.box1 {
    padding: 10px;
}
.p1 {
    width: 270px;
}
.icon {
    color: white;
}
.btn1 {
    color: white;
    background-color: black;
}
.img1:hover {
    transform: scale(1.1);
}
.img1 {
    transition: 0.1s all linear;
}
.img2:hover {
    transform: scale(1.1);
}
.img2 {
    transition: 0.1s all linear;
}